doctype html
html
    head
        meta(charset='utf-8')
        title pomo pomo
        link(rel='stylesheet', type='text/css', href='css/all.css')
    body(ng-app='pomo', ng-cloak)
    script(type='text/javascript', src='js/all.js')